html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
    
    --background-color:#bacec1;

    --button-color: pink;
    --button-radius: 50px;
    --button-font-size: 25px;
    --button-link-color: black;
	--button-link-color-hover: blue;
    --button-height: auto;
    --button-width: auto;

    --header-font-size: var(--button-font-size);
    --header-background: #f6f4e8;
    --background-color-hover: #e59560;
    --background-color-button: #1d3124;

	--spacer: 1rem;
	--spacer-half: calc(var(--spacer) / 2);

}

.header{
    overflow: hidden;
    background-color: var(--header-background);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.button, .button__link{
    float: left;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 30px; 
    line-height: 25px;
    border-radius: 4px;
    display:flex;
}

.menu__item:hover{
    background-color: var(--background-color-hover);
}


.header__title {
    font-size: 25px;
    font-weight: bold;
}

.header__right {
    float: right;
}

.menu{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.menu__item, .button__link{
    margin-left: 0px;
}
.header__title {
    font-size: 25px;
    font-weight: bold;
}

.header__title.active, .header__link.active {
    background-color: var(--background-color-hover);
}

.header-right {
    float: right;   
}

@media screen and (max-width: 1100px) {
    .button, .button__link{
        float: none;
        display: block;
        text-align: left;
    }

    .header__right {
        float: none;
    }

    .header{
        flex-direction: column;
    }
}